@tailwind base;
@tailwind components;
@tailwind utilities;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

/* .dm-sans.{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

body,
:root {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .animate-from-right {
    opacity: 0;
    animation: fadeFromRight 1.5s forwards;
    overflow-x: hidden;
  }

  @keyframes fadeFromRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-from-left {
    opacity: 0;
    animation: fadeFromLeft 1.5s forwards;
    overflow-x: hidden;
  }

  @keyframes fadeFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-from-bottom {
    opacity: 0;
    animation: fadeFromBottom 1.5s forwards;
    overflow-y: hidden;
  }

  @keyframes fadeFromBottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-from-up {
    opacity: 0;
    animation: fadeFromUp 1.5s forwards;
    overflow-y: hidden;
  }

  @keyframes fadeFromUp {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.mybg {
  background: conic-gradient(
    from 246.42deg at 108.97% 46.99%,
    #283b95 -1.74deg,
    rgba(68, 99, 250, 0.21) 3.7deg,
    #4462f9 303.53deg,
    #4362f9 314.4deg,
    #4463fb 324.36deg,
    #283b95 358.26deg,
    rgba(68, 99, 250, 0.21) 366.7deg
  );
}

.mq-textcolor .mq-text-mode {
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
